Repository GameServerManagers/LinuxGSM, pull requests merged in 2018-07, with the labels that each got.

#1927 Use +maxplayers instead of -maxplayers
  lgsm/config-default/config-lgsm/svenserver/_default.cfg
Labels: Status: dev queue

#1934 Update to new stable version of sourcemod
  lgsm/functions/mods_list.sh
Labels: Status: dev queue

#1929 Fix for subnets
  lgsm/functions/check_ip.sh
Labels: Status: dev queue

#1952 Fixed wrong text in some core messages
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new-server-request.md
  lgsm/functions/core_messages.sh
Labels: Outcome: issue resolved, Status: under development, Type: bug

#1951 Updated rust Wipe feature & fixed updating when githubbranch differs
  lgsm/functions/command_update_linuxgsm.sh
  lgsm/functions/command_wipe.sh
  lgsm/functions/core_getopt.sh
Labels: Status: being considered

#1948 Do not exit details if IP is not set
  lgsm/functions/check_ip.sh
Labels: Status: being considered

#1954 Hotfix/minecraft 1944
  .travis.yml
  lgsm/config-default/config-lgsm/mcserver/_default.cfg
  lgsm/functions/check_deps.sh
  lgsm/functions/update_minecraft.sh
Labels: Status: being considered

#1942 Pull Request [Server Request] Postscriptum #1911
  lgsm/config-default/config-lgsm/pstbsserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
Labels: Status: under development, Type: server request

#1958 Hotfix for RedHat & non steam based game servers
  lgsm/functions/check_deps.sh
Labels: Status: being considered

#1962 Reliable way to select latest Minecraft release
  lgsm/functions/update_minecraft.sh
Labels: Status: under development
