Repository GameServerManagers/LinuxGSM, pull requests merged in 2018-08, with the labels that each got.

#1975 Update license year
  LICENSE
  lgsm/functions/check_deps.sh
  lgsm/functions/update_minecraft.sh
Labels: Status: dev queue

#1981 Post Scriptum
  lgsm/config-default/config-lgsm/pstbsserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/check_system_requirements.sh
  lgsm/functions/command_debug.sh
  lgsm/functions/fix.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_glibc.sh
  lgsm/functions/info_messages.sh
Labels: Status: being considered

#1971 Use /proc/meminfo instead of free -m
  lgsm/functions/info_distro.sh
Labels: Status: dev queue

#1715 feature/minimal details
  lgsm/functions/command_details.sh
Labels: Status: dev queue, Type: enhancement
