Repository GameServerManagers/LinuxGSM, pull requests merged in 2018-12, with the labels that each got.

#2095 feat (csgoserver): add Danger Zone game mode example
  lgsm/config-default/config-lgsm/csgoserver/_default.cfg
Labels: Status: dev queue

#2091 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: Status: being considered

#2098 fix (sbotsserver): corrected servercfgdir location
  lgsm/config-default/config-lgsm/sbotsserver/_default.cfg
Labels: Status: being considered

#2110 fix(inssserver): fix the password and the default scenario parameters
  lgsm/config-default/config-lgsm/inssserver/_default.cfg
Labels: Status: dev queue

#2103 fix(start): correct order of tmux size arguments
  lgsm/functions/command_start.sh
Labels: Status: dev queue

#2114 fix(ts3server): re-add support for libmariadb2
  lgsm/functions/core_functions.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_ts3.sh
Labels: Game: Teamspeak 3, Status: being considered, Type: :bug: bug

#2115 refactor(check): add epel as a requirement for centos
  lgsm/functions/check_deps.sh
Labels: Distro: CentOS, Status: being considered, Type: refactor

#2118 refactor(check): deprecate glibc fixes
  lgsm/functions/check_glibc.sh
  lgsm/functions/command_debug.sh
  lgsm/functions/command_dev_detect_glibc.sh
  lgsm/functions/core_functions.sh
  lgsm/functions/fix_glibc.sh
  lgsm/functions/info_glibc.sh
  lgsm/functions/info_messages.sh
Labels: Status: being considered

#2128 fix(ts3server): update Teamspeak 3 download mirror #2127
  lgsm/functions/update_ts3.sh
Labels: Status: dev queue

#2129 fix(ts3server): update Teamspeak 3 download mirror #2127
  lgsm/functions/update_ts3.sh
Labels: Status: being considered

#2134 feat(monitor): add tcp query to query raw
  lgsm/functions/command_dev_query_raw.sh
  lgsm/functions/command_monitor.sh
Labels: Status: being considered
