Repository GameServerManagers/LinuxGSM, pull requests merged in 2019-06, with the labels that each got.

#2162 feat(newserver): Atlas
  lgsm/config-default/config-lgsm/atlasserver/_default.cfg
  lgsm/data/serverlist.csv
Labels: type: server request

#2179 feat(newserver): Atlas
  lgsm/config-default/config-lgsm/atlasserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/check_system_requirements.sh
  lgsm/functions/core_functions.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_atlas.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_config.sh
Labels: type: server request

#2403 feat(barotrauma): Migrate to use dedicated server appid
  lgsm/config-default/config-lgsm/btserver/_default.cfg
Labels: priority, type: refactor

#2407 fix(install): fix url in command
  lgsm/functions/install_ut2k4_key.sh
Labels: game: Unreal Tournament 2004, type: bug

#2406 fix(monitor): fix querydelay
  lgsm/functions/command_monitor.sh
Labels: command: monitor

#2408 fix(install): check if gslt token empty istead of existing
  lgsm/functions/command_install.sh
Labels: command: install, type: bug
