Repository GameServerManagers/LinuxGSM, pull requests merged in 2019-10, with the labels that each got.

#2527 feat(details): Add game server resource usage and details refactor
  lgsm/config-default/config-lgsm/ts3server/_default.cfg
  lgsm/functions/alert.sh
  lgsm/functions/command_details.sh
  lgsm/functions/command_postdetails.sh
  lgsm/functions/info_distro.sh
  lgsm/functions/info_messages.sh
Labels: command: details, type: feature request

#2507 feat(newserver): Action: Source
  lgsm/config-default/config-lgsm/ahl2server/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/install_config.sh
Labels: type: server request

#2526 Fix dep checking for Centos8
  .travis.yml
  lgsm/functions/check_deps.sh
  lgsm/functions/query_gsquery.py
Labels: distro: CentOS

#2475 feat(newserver): warfork
  lgsm/config-default/config-lgsm/wfserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/info_messages.sh
  lgsm/functions/query_gamedig.sh
  lgsm/functions/query_gsquery.py
Labels: type: server request

#2508 feat(newserver): warfork
  lgsm/config-default/config-lgsm/wfserver/_default.cfg
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_config.sh
Labels: type: server request

#2392 feat(newserver): Medal of Honor: Allied Assault
  lgsm/config-default/config-lgsm/mohaaserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/check_deps.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_config.sh
  lgsm/functions/install_server_files.sh
Labels: type: server request

#2539 feat(newserver): Medal of Honor: Allied Assault
  lgsm/config-default/config-lgsm/mohaaserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/check_deps.sh
  lgsm/functions/command_monitor.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_distro.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_config.sh
  lgsm/functions/install_server_files.sh
Labels: type: server request
