Repository GameServerManagers/LinuxGSM, pull requests merged in 2019-05, with the labels that each got.

#2340 feat(qwserver): update nquake download archive
  lgsm/functions/install_server_files.sh
Labels: command: install, game: QuakeWorld, type: refactor

#2339 feat(config): standardise 32/64 bit binary selection
  lgsm/config-default/config-lgsm/hwserver/_default.cfg
  lgsm/config-default/config-lgsm/qlserver/_default.cfg
  lgsm/config-default/config-lgsm/sdtdserver/_default.cfg
Labels: command: start, type: refactor

#2341 feat(query-raw): add TCP/UDP query to game port
  lgsm/functions/command_dev_query_raw.sh
Labels: command: monitor, type: feature request

#2333 feat(newserver): Mordhau
  lgsm/config-default/config-lgsm/mhserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/info_config.sh
  lgsm/functions/info_glibc.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_config.sh
Labels: type: server request

#2347 mhserver: further fixes after accidental merge of wrong branch
  lgsm/config-default/config-lgsm/mhserver/_default.cfg
  lgsm/config-default/config-lgsm/mordhauserver/_default.cfg
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_config.sh
Labels: type: bug
