Repository GameServerManagers/LinuxGSM, pull requests merged in 2019-03, with the labels that each got.

#2212 Fix factorio branching
  lgsm/functions/update_factorio.sh
Labels: :exclamation: priority, game: Factorio, status: in progress, type: :bug: bug

#2213 Update _default.cfg
  lgsm/config-default/config-lgsm/inssserver/_default.cfg
Labels: game: Insurgency: Sandstorm, status: triage, type: :bug: bug

#2219 fix(kfserver): add missing dir variables
  lgsm/config-default/config-lgsm/kfserver/_default.cfg
Labels: game: Killing Floor, type: :bug: bug

#2225 Patch update factorio
  lgsm/functions/update_factorio.sh
Labels: :exclamation: priority, game: Factorio, status: in progress, type: :bug: bug

#2237 corrected the fastdl command documentation link
  lgsm/functions/command_fastdl.sh
Labels: status: triage

#2250 Update Refactor
  lgsm/functions/alert.sh
  lgsm/functions/check.sh
  lgsm/functions/check_executable.sh
  lgsm/functions/check_permissions.sh
  lgsm/functions/check_tmuxception.sh
  lgsm/functions/command_dev_query_raw.sh
  lgsm/functions/command_mods_remove.sh
  lgsm/functions/command_monitor.sh
  lgsm/functions/command_postdetails.sh
  lgsm/functions/command_update_linuxgsm.sh
  lgsm/functions/command_wipe.sh
  lgsm/functions/core_dl.sh
  lgsm/functions/core_exit.sh
  lgsm/functions/core_messages.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_dst.sh
  lgsm/functions/fix_tf2.sh
  lgsm/functions/info_distro.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/install_server_files.sh
  lgsm/functions/logs.sh
  lgsm/functions/mods_core.sh
  lgsm/functions/update_factorio.sh
  lgsm/functions/update_minecraft.sh
  lgsm/functions/update_mta.sh
  lgsm/functions/update_mumble.sh
  lgsm/functions/update_steamcmd.sh
  lgsm/functions/update_ts3.sh
  linuxgsm.sh
  tests/tests_fctrserver.sh
  tests/tests_jc2server.sh
  tests/tests_ts3server.sh
Labels: status: triage, type: refactor

#2248 fix wrong launch parameter for cod games
  lgsm/config-default/config-lgsm/cod2server/_default.cfg
  lgsm/config-default/config-lgsm/cod4server/_default.cfg
  lgsm/config-default/config-lgsm/codserver/_default.cfg
  lgsm/config-default/config-lgsm/coduoserver/_default.cfg
  lgsm/config-default/config-lgsm/codwawserver/_default.cfg
Labels: type: :bug: bug
