Repository GameServerManagers/LinuxGSM, pull requests merged in 2019-02, with the labels that each got.

#2172 New details info
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new-server-request.md
  lgsm/functions/info_distro.sh
  lgsm/functions/info_messages.sh
Labels: status: in progress, type: feature request

#2164 Feature/iosoccer
  lgsm/config-default/config-lgsm/iosserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/install_config.sh
Labels: status: backlog, type: :video_game: server request

#2174 Feature/2165 sven
  lgsm/functions/info_glibc.sh
Labels: game: Sven Co-op, status: triage, type: :bug: bug

#2175 Feature/2168 alert
  lgsm/functions/alert_discord.sh
Labels: status: triage, type: :bug: bug

#2181 Change autoinstall sudo check to resolve #2177
  lgsm/functions/check_deps.sh
  lgsm/functions/check_permissions.sh
Labels: status: triage, type: :bug: bug

#2186 deprecate: workshop fix that is no longer necessary
  lgsm/functions/fix_csgo.sh
Labels: status: in progress, type: :bug: bug

#2189 fix(qwserver): Quake World query issues
  lgsm/functions/info_parms.sh
  lgsm/functions/query_gamedig.sh
  lgsm/functions/query_gsquery.py
Labels: status: in progress, type: :bug: bug

#2191 Feature/rtcwserver
  lgsm/config-default/config-lgsm/rtcwserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/info_config.sh
  lgsm/functions/info_glibc.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_config.sh
  lgsm/functions/install_server_files.sh
Labels: status: triage

#2196 feat(cod4): update cod4 installer
  lgsm/functions/install_server_files.sh
Labels: status: triage

#2197 Release/190217
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new-server-request.md
  .github/lock.yml
  PULL_REQUEST_TEMPLATE.md
  lgsm/config-default/config-lgsm/iosserver/_default.cfg
  lgsm/config-default/config-lgsm/rtcwserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/alert_discord.sh
  lgsm/functions/check_deps.sh
  lgsm/functions/check_permissions.sh
  lgsm/functions/fix_csgo.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_distro.sh
  lgsm/functions/info_glibc.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_config.sh
  lgsm/functions/install_server_files.sh
  lgsm/functions/query_gamedig.sh
  lgsm/functions/query_gsquery.py
  linuxgsm.sh
Labels: status: triage

#2200 fix(ts3server): correct ts3server config file name in comment
  lgsm/config-default/config-lgsm/ts3server/_default.cfg
Labels: status: triage

#2206 feat(ts3server): deprecate legacy ts3 update functions
  lgsm/functions/update_ts3.sh
Labels: game: Teamspeak 3, status: triage, type: refactor

#2207 Feature/2198 rtcwserver
  lgsm/functions/command_monitor.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/query_gamedig.sh
  lgsm/functions/query_gsquery.py
Labels: status: triage
