Repository GameServerManagers/LinuxGSM, pull requests merged in 2019-04, with the labels that each got.

#2251 Release/190401
  .travis.yml
  README.md
  lgsm/config-default/config-lgsm/cod2server/_default.cfg
  lgsm/config-default/config-lgsm/cod4server/_default.cfg
  lgsm/config-default/config-lgsm/codserver/_default.cfg
  lgsm/config-default/config-lgsm/coduoserver/_default.cfg
  lgsm/config-default/config-lgsm/codwawserver/_default.cfg
  lgsm/config-default/config-lgsm/kfserver/_default.cfg
  lgsm/config-default/config-lgsm/ts3server/_default.cfg
  lgsm/functions/alert.sh
  lgsm/functions/check.sh
  lgsm/functions/check_executable.sh
  lgsm/functions/check_permissions.sh
  lgsm/functions/check_tmuxception.sh
  lgsm/functions/command_dev_query_raw.sh
  lgsm/functions/command_fastdl.sh
  lgsm/functions/command_mods_remove.sh
  lgsm/functions/command_monitor.sh
  lgsm/functions/command_postdetails.sh
  lgsm/functions/command_update_linuxgsm.sh
  lgsm/functions/command_wipe.sh
  lgsm/functions/core_dl.sh
  lgsm/functions/core_exit.sh
  lgsm/functions/core_messages.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_dst.sh
  lgsm/functions/fix_tf2.sh
  lgsm/functions/info_distro.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_server_files.sh
  lgsm/functions/logs.sh
  lgsm/functions/mods_core.sh
  lgsm/functions/query_gamedig.sh
  lgsm/functions/query_gsquery.py
  lgsm/functions/update_factorio.sh
  lgsm/functions/update_minecraft.sh
  lgsm/functions/update_mta.sh
  lgsm/functions/update_mumble.sh
  lgsm/functions/update_steamcmd.sh
  lgsm/functions/update_ts3.sh
  linuxgsm.sh
  tests/tests_fctrserver.sh
  tests/tests_jc2server.sh
  tests/tests_ts3server.sh
Labels: status: triage

#2253 Update update_factorio.sh
  lgsm/functions/update_factorio.sh
Labels: status: triage, type: :bug: bug

#2254 fix mta download url
  .travis.yml
  lgsm/functions/update_mta.sh
Labels: status: triage, type: :bug: bug

#2258 Hotfix/190401.2
  lgsm/functions/update_minecraft.sh
Labels: status: triage

#2261 Teamspeak3 server installation with MariaDB fixed.
  lgsm/functions/command_start.sh
  lgsm/functions/core_functions.sh
  lgsm/functions/install_complete.sh
  lgsm/functions/install_eula.sh
  lgsm/functions/install_minecraft_eula.sh
  lgsm/functions/install_server_files.sh
  lgsm/functions/install_ts3db.sh
  lgsm/functions/install_unreal_tournament_eula.sh
Labels: type: bug

#2273 Feature/2270 ts3server
  lgsm/functions/core_getopt.sh
Labels: game: Teamspeak 3, status: triage, type: bug

#2278 fix(check): prevent restart from bypassing check_executable
  lgsm/functions/check_executable.sh
Labels: type: bug

#2279 fix(fix): re-add fix_tf2 and minor fix refactor
  lgsm/functions/fix.sh
  lgsm/functions/fix_dst.sh
  lgsm/functions/fix_mta.sh
  lgsm/functions/fix_ss3.sh
  lgsm/functions/fix_steamcmd.sh
  lgsm/functions/fix_tf2.sh
  lgsm/functions/fix_ts3.sh
Labels: type: bug, type: refactor

#2245 add dystopia
  lgsm/config-default/config-lgsm/dysserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/info_glibc.sh
  lgsm/functions/install_config.sh
Labels: type: server request

#2276 fix various issues on blade symphony
  lgsm/config-default/config-lgsm/bsserver/_default.cfg
  lgsm/functions/install_gslt.sh
Labels: game: Blade Symphony

#2280 feat(install): refactor gslt to automatically detect gslt variable
  lgsm/functions/command_install.sh
Labels: type: refactor

#2284 fix(mcserver):correct port info
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
Labels: type: bug

#2286 fix(mcserver): eula now correctly alteres to true
  lgsm/functions/install_eula.sh
Labels: game: Minecraft, type: bug

#2291 Add Nuclear Dawn
  lgsm/config-default/config-lgsm/ndserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/install_config.sh
Labels: type: server request

#2298 Add SVG support to FastDL
  lgsm/functions/command_fastdl.sh
Labels: game: Counter-Strike: Global Offensive, type: feature request

#2308 fix(bsserver): updated executable directory
  lgsm/config-default/config-lgsm/bsserver/_default.cfg
Labels: type: bug

#2317 fix(terraria): add fix preventing server from starting
  lgsm/functions/core_functions.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_terraria.sh
Labels: game: Terraria, type: bug

#2306 Add mono for RHEL 8
  lgsm/functions/check_deps.sh
Labels: Type: enhancement
