Repository GameServerManagers/LinuxGSM, pull requests merged in 2019-09, with the labels that each got.

#2516 fix(utserver): remove SteamCMD auth requirement 32-bit workaround
  lgsm/config-default/config-lgsm/untserver/_default.cfg
  lgsm/functions/install_server_files.sh
Labels: game: Unturned

#2511 fix(doiserver): refactor workshop support
  lgsm/config-default/config-lgsm/doiserver/_default.cfg
Labels: game: Day of Infamy

#2521 fix(insserver): fix various problem
  lgsm/config-default/config-lgsm/insserver/_default.cfg
Labels: game: Insurgecy
