Repository GameServerManagers/LinuxGSM, pull requests merged in 2019-11, with the labels that each got.

#2577 add norestart for ins
  lgsm/config-default/config-lgsm/insserver/_default.cfg
Labels: game: Insurgecy

#2608 Feature/2597 https to http
  lgsm/functions/install_server_files.sh
Labels: command: install, type: bug

#2620 feat(testing): add code coverage and streamline unit testing
  .travis.yml
  README.md
  lgsm/functions/command_fastdl.sh
  tests/tests_fctrserver.sh
  tests/tests_jc2server.sh
  tests/tests_kcov.sh
  tests/tests_mcserver.sh
  tests/tests_ts3server.sh
Labels: info: travis-ci, type: feature request, type: refactor
