Repository GameServerManagers/LinuxGSM, pull requests merged in 2019-08, with the labels that each got.

#2468 fix(doiserver): now requires maxplayers to be set to 32
  lgsm/config-default/config-lgsm/doiserver/_default.cfg
Labels: game: Day of Infamy, type: bug

#2477 fix(btserver): Barotrauma has a new server binary location
  lgsm/config-default/config-lgsm/btserver/_default.cfg
  lgsm/functions/info_messages.sh
Labels: type: bug

#2465 feat(newserver): Zombie Master: Reborn
  lgsm/config-default/config-lgsm/zmrserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/core_functions.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_zmr.sh
  lgsm/functions/install_config.sh
  lgsm/functions/install_server_files.sh
Labels: type: server request

#2460 feat(newserver): Action half-life
  lgsm/config-default/config-lgsm/ahlserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/install_config.sh
  lgsm/functions/install_server_files.sh
Labels: type: server request

#2450 fix(fastdl) #2437 fastdl structure
  lgsm/functions/command_fastdl.sh
Labels: command: fast-dl

#2445 feat(newserver): Soldat
  lgsm/config-default/config-lgsm/solserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/command_monitor.sh
  lgsm/functions/command_stop.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_config.sh
  lgsm/functions/install_server_files.sh
Labels: game: Soldat, type: server request

#2467 Battalion 1944: Updates to start up parameters
  lgsm/config-default/config-lgsm/bt1944server/_default.cfg
Labels: game: Battalion 1944, type: bug

#2488 fix(details): master server will now only show if set to true
  lgsm/functions/command_debug.sh
  lgsm/functions/info_distro.sh
  lgsm/functions/info_messages.sh
Labels: type: bug

#2418 fix(mtaserver): AI no longer waits at a prompt
  lgsm/functions/command_install_resources_mta.sh
Labels: game: Multi Theft Auto, type: bug

#2485 feat(postdetails): add postdetails support for https://termbin.com
  lgsm/functions/command_postdetails.sh
Labels: command: post-details
