Repository GameServerManagers/LinuxGSM, pull requests merged in 2020-11, with the labels that each got.

#3098 fix(bf1942): add missing dependency to checks for libncurses5:i386
  lgsm/functions/check_deps.sh
Labels: game: Battlefield 1942, info: dependency, type: bug

#3096 fix(bf1942): servername parsing
  lgsm/functions/info_config.sh
Labels: command: details, game: Battlefield 1942, type: bug

#3094 fix(deps): change ubuntu 20.10 to use lib32gcc-s1
  lgsm/functions/check_deps.sh
Labels: distro: Ubuntu, info: dependency, type: bug

#2384 feat(new server): pvrserver
  lgsm/config-default/config-lgsm/pvrserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/check_system_requirements.sh
  lgsm/functions/fix_steamcmd.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_config.sh
Labels: hacktoberfest-accepted, type: game server request

#3104 feat(mods): metamod/amxmodx for goldsrc engines
  lgsm/functions/command_mods_install.sh
  lgsm/functions/command_mods_remove.sh
  lgsm/functions/core_getopt.sh
  lgsm/functions/mods_core.sh
  lgsm/functions/mods_list.sh
Labels: command: mods, type: feature request

#3110 feat(ut99server): update UT99 to version 469a (OldUnreal patch)
  lgsm/functions/install_server_files.sh
Labels: game: Unreal Tournament 99, type: refactor

#3059 fix(mcserver): Support installing previous minecraft versions via branch
  lgsm/functions/update_minecraft.sh
Labels: hacktoberfest-accepted

#3114 feat(mcserver): select Minecraft release or snapshot
  lgsm/config-default/config-lgsm/mcserver/_default.cfg
  lgsm/functions/update_minecraft.sh
Labels: command: update, game: Minecraft, type: feature request

#3119 fix(samp): fix config change after installation
  lgsm/functions/core_functions.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_samp.sh
  lgsm/functions/install_config.sh
Labels: game: San Andreas Multiplayer, type: bug
