Repository GameServerManagers/LinuxGSM, pull requests merged in 2020-03, with the labels that each got.

#2697 feat(update): allow linuxgsm to use steamcmd from apt
  lgsm/functions/check_deps.sh
  lgsm/functions/check_steamcmd.sh
  lgsm/functions/command_dev_detect_deps.sh
  lgsm/functions/command_monitor.sh
  lgsm/functions/command_stop.sh
  lgsm/functions/command_validate.sh
  lgsm/functions/info_distro.sh
  lgsm/functions/info_stats.sh
  lgsm/functions/install_server_files.sh
  lgsm/functions/query_gamedig.sh
  lgsm/functions/update_steamcmd.sh
  linuxgsm.sh
  tests/tests_fctrserver.sh
  tests/tests_jc2server.sh
  tests/tests_mcserver.sh
  tests/tests_ts3server.sh
Labels: type: refactor

#2644 feat(newserver): Unreal Tournament 4
  lgsm/data/serverlist.csv
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_server_files.sh
Labels: type: game server request

#2682 feat(newserver): Onset
  lgsm/config-default/config-lgsm/onsetserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/check_deps.sh
  lgsm/functions/core_functions.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_onset.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
Labels: type: game server request

#2704 fix(details): catch error should ifconfig.co fail
  lgsm/functions/info_distro.sh
Labels: command: details, type: bug

#2729 feat: rm command best practices
  lgsm/functions/alert.sh
  lgsm/functions/command_backup.sh
  lgsm/functions/command_debug.sh
  lgsm/functions/command_dev_debug.sh
  lgsm/functions/command_dev_detect_deps.sh
  lgsm/functions/command_dev_detect_glibc.sh
  lgsm/functions/command_dev_detect_ldd.sh
  lgsm/functions/command_fastdl.sh
  lgsm/functions/command_mods_remove.sh
  lgsm/functions/command_postdetails.sh
  lgsm/functions/command_start.sh
  lgsm/functions/command_stop.sh
  lgsm/functions/command_update_linuxgsm.sh
  lgsm/functions/compress_unreal2_maps.sh
  lgsm/functions/compress_ut99_maps.sh
  lgsm/functions/core_dl.sh
  lgsm/functions/install_server_files.sh
  lgsm/functions/mods_core.sh
  lgsm/functions/update_steamcmd.sh
  tests/tests_defaultcfg/tests_defaultcfg.sh
  tests/tests_fctrserver.sh
  tests/tests_jc2server.sh
  tests/tests_mcserver.sh
  tests/tests_ts3server.sh
Labels: type: refactor

#2740 change lib32tinfo5 to libtinfo5:i386
  lgsm/functions/check_deps.sh
Labels: info: dependency, type: bug

#2742 fix(dstserver): fix config installation
  lgsm/config-default/config-lgsm/dstserver/_default.cfg
  lgsm/functions/check_deps.sh
Labels: game: dont starve together, type: bug

#2745 fix(ark): fix typo in servercfgdefault
  lgsm/config-default/config-lgsm/arkserver/_default.cfg
Labels: game: Ark: Survival Evolved, priority, type: bug

#2755 fix(steamcmd): failing to start if missing dependencies required to run SteamCMD
  lgsm/functions/check_deps.sh
Labels: info: dependency, info: steamcmd, type: bug

#2766 fix(arkserver): resolve further issues highlighted with ark mod fix
  lgsm/functions/command_monitor.sh
  lgsm/functions/core_messages.sh
  lgsm/functions/fix_ark.sh
Labels: game: Ark: Survival Evolved, type: bug

#2789 fix(ts3server): improve ts3 ip parsing
  lgsm/functions/info_config.sh
Labels: Atomic, game: Teamspeak 3, type: bug
