Repository GameServerManagers/LinuxGSM, pull requests merged in 2020-07, with the labels that each got.

#2947 feat(arkserver): add support for epic store players.
  lgsm/config-default/config-lgsm/arkserver/_default.cfg
Labels: game: Ark: Survival Evolved, type: feature request

#2948 feat(arkserver): add altsavedirectoryname option to allow custom save location
  lgsm/config-default/config-lgsm/arkserver/_default.cfg
Labels: game: Ark: Survival Evolved, type: feature request

#2950 fix(tf2server): remove libtcmalloc-minimal4:i386 and gperftools-libs
  lgsm/functions/check_deps.sh
Labels: distro: CentOS, distro: Ubuntu, game: Team Fortress 2, info: dependency, type: bug

#2952 feat(ut2k4server): update release to 3369.3
  lgsm/functions/install_server_files.sh
Labels: command: install, game: Unreal Tournament 2004, type: feature request

#2951 fix(debian 11): change name of lib32gcc1 to lib32gcc-s1 for debian 11
  lgsm/functions/check_deps.sh
Labels: distro: Debian, type: refactor

#2953 fix(info): gather external ip from ipify.org instead of ifconfig.co
  lgsm/functions/info_distro.sh
Labels: command: details, type: bug

#2956 fix: hard lock reference
  lgsm/functions/command_monitor.sh
Labels: type: bug

#2958 fix(log): allow logs to correctly display primary command
  lgsm/functions/alert.sh
  lgsm/functions/check_last_update.sh
  lgsm/functions/check_steamcmd.sh
  lgsm/functions/check_version.sh
  lgsm/functions/command_backup.sh
  lgsm/functions/command_console.sh
  lgsm/functions/command_debug.sh
  lgsm/functions/command_details.sh
  lgsm/functions/command_dev_clear_functions.sh
  lgsm/functions/command_dev_debug.sh
  lgsm/functions/command_dev_detect_deps.sh
  lgsm/functions/command_dev_detect_glibc.sh
  lgsm/functions/command_dev_detect_ldd.sh
  lgsm/functions/command_dev_query_raw.sh
  lgsm/functions/command_donate.sh
  lgsm/functions/command_fastdl.sh
  lgsm/functions/command_install.sh
  lgsm/functions/command_install_resources_mta.sh
  lgsm/functions/command_mods_install.sh
  lgsm/functions/command_mods_remove.sh
  lgsm/functions/command_mods_update.sh
  lgsm/functions/command_monitor.sh
  lgsm/functions/command_postdetails.sh
  lgsm/functions/command_restart.sh
  lgsm/functions/command_start.sh
  lgsm/functions/command_stop.sh
  lgsm/functions/command_test_alert.sh
  lgsm/functions/command_ts3_server_pass.sh
  lgsm/functions/command_update.sh
  lgsm/functions/command_update_linuxgsm.sh
  lgsm/functions/command_validate.sh
  lgsm/functions/command_wipe.sh
  lgsm/functions/compress_unreal2_maps.sh
  lgsm/functions/compress_ut99_maps.sh
  lgsm/functions/core_dl.sh
  lgsm/functions/fix_kf.sh
  lgsm/functions/fix_kf2.sh
  lgsm/functions/fix_ro.sh
  lgsm/functions/fix_ut2k4.sh
  lgsm/functions/fix_ut3.sh
  lgsm/functions/fix_wurm.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/install_modules.sh
  lgsm/functions/mods_core.sh
  lgsm/functions/update_factorio.sh
  lgsm/functions/update_minecraft.sh
  lgsm/functions/update_minecraft_bedrock.sh
  lgsm/functions/update_mta.sh
  lgsm/functions/update_mumble.sh
  lgsm/functions/update_steamcmd.sh
  lgsm/functions/update_ts3.sh
  linuxgsm.sh
  tests/tests_fctrserver.sh
  tests/tests_jc2server.sh
  tests/tests_mcserver.sh
  tests/tests_ts3server.sh
Labels: type: refactor

#2959 feat(steamcmd): refactor how SteamCMD server downloads are handled
  lgsm/functions/check.sh
  lgsm/functions/command_backup.sh
  lgsm/functions/command_validate.sh
  lgsm/functions/core_dl.sh
  lgsm/functions/core_messages.sh
  lgsm/functions/core_trap.sh
  lgsm/functions/install_server_files.sh
  lgsm/functions/update_factorio.sh
  lgsm/functions/update_minecraft.sh
  lgsm/functions/update_minecraft_bedrock.sh
  lgsm/functions/update_mta.sh
  lgsm/functions/update_mumble.sh
  lgsm/functions/update_steamcmd.sh
  lgsm/functions/update_ts3.sh
Labels: command: install, command: update, command: validate, info: steamcmd, type: refactor

#2960 fix(update): allow steamcmd to check for update on beta branches
  lgsm/functions/update_steamcmd.sh
Labels: command: update, info: steamcmd

#2964 feat(details): add appid and branch password to details
  lgsm/functions/info_messages.sh
Labels: command: details, type: feature request

#2965 feat(rustserver): add support for Rust + app
  lgsm/config-default/config-lgsm/rustserver/_default.cfg
Labels: game: Rust, type: feature request

#2966 Feature/2914 rust app
  lgsm/config-default/config-lgsm/rustserver/_default.cfg
Labels: game: Rust, type: refactor

#2969 fix(log): allow logs to correctly display primary command
  lgsm/functions/alert.sh
  lgsm/functions/check_last_update.sh
  lgsm/functions/check_version.sh
  lgsm/functions/command_backup.sh
  lgsm/functions/command_console.sh
  lgsm/functions/command_debug.sh
  lgsm/functions/command_details.sh
  lgsm/functions/command_dev_clear_functions.sh
  lgsm/functions/command_dev_debug.sh
  lgsm/functions/command_dev_detect_deps.sh
  lgsm/functions/command_dev_detect_glibc.sh
  lgsm/functions/command_dev_detect_ldd.sh
  lgsm/functions/command_dev_query_raw.sh
  lgsm/functions/command_donate.sh
  lgsm/functions/command_fastdl.sh
  lgsm/functions/command_install.sh
  lgsm/functions/command_install_resources_mta.sh
  lgsm/functions/command_mods_install.sh
  lgsm/functions/command_mods_remove.sh
  lgsm/functions/command_mods_update.sh
  lgsm/functions/command_monitor.sh
  lgsm/functions/command_postdetails.sh
  lgsm/functions/command_restart.sh
  lgsm/functions/command_start.sh
  lgsm/functions/command_stop.sh
  lgsm/functions/command_test_alert.sh
  lgsm/functions/command_ts3_server_pass.sh
  lgsm/functions/command_update.sh
  lgsm/functions/command_update_linuxgsm.sh
  lgsm/functions/command_validate.sh
  lgsm/functions/command_wipe.sh
  lgsm/functions/compress_unreal2_maps.sh
  lgsm/functions/compress_ut99_maps.sh
  lgsm/functions/core_messages.sh
  lgsm/functions/fix_kf.sh
  lgsm/functions/fix_kf2.sh
  lgsm/functions/fix_ro.sh
  lgsm/functions/fix_ut2k4.sh
  lgsm/functions/fix_ut3.sh
  lgsm/functions/fix_wurm.sh
  lgsm/functions/install_modules.sh
  lgsm/functions/update_factorio.sh
  lgsm/functions/update_minecraft.sh
  lgsm/functions/update_minecraft_bedrock.sh
  lgsm/functions/update_mta.sh
  lgsm/functions/update_mumble.sh
  lgsm/functions/update_steamcmd.sh
  lgsm/functions/update_ts3.sh
Labels: type: refactor

#2971 feat(rustserver): rust wipeall command now called full-wipe
  lgsm/config-default/config-lgsm/rustserver/_default.cfg
  lgsm/functions/check_config.sh
  lgsm/functions/core_getopt.sh
Labels: game: Rust, type: refactor

#2972 fix(rustserver): fix blueprint not being wiped
  lgsm/config-default/config-lgsm/rustserver/_default.cfg
  lgsm/functions/check_config.sh
  lgsm/functions/command_wipe.sh
  lgsm/functions/core_dl.sh
  lgsm/functions/core_getopt.sh
Labels: game: Rust, type: bug
