Repository GameServerManagers/LinuxGSM, pull requests merged in 2020-10, with the labels that each got.

#3062 fix(insserver): fix steamclient.so error
  lgsm/functions/fix_steamcmd.sh
Labels: game: Insurgecy, type: bug

#3067 fix(update): resolve broken minecraft updater since v1.16.3
  lgsm/functions/update_factorio.sh
  lgsm/functions/update_minecraft.sh
  lgsm/functions/update_minecraft_bedrock.sh
  lgsm/functions/update_mta.sh
  lgsm/functions/update_mumble.sh
  lgsm/functions/update_steamcmd.sh
  lgsm/functions/update_ts3.sh
Labels: game: Minecraft, type: bug

#3065 fix(rustserver): fix wipe for player.states.*.db
  lgsm/functions/command_wipe.sh
Labels: command: wipe, game: Rust, type: bug

#3070 feat(mods): add Stripper:Source to the modlist
  lgsm/functions/mods_list.sh
Labels: command: mods, type: feature request

#3073 feat: allow override of repo with master
  README.md
  lgsm/functions/core_dl.sh
  linuxgsm.sh
  tests/tests_fctrserver.sh
  tests/tests_jc2server.sh
  tests/tests_mcserver.sh
  tests/tests_ts3server.sh
Labels: type: refactor

#3085 fix(btserver): add to port edit via config
  lgsm/functions/info_messages.sh
Labels: game: Barotrauma, type: bug

#3083 fix(btserver): add dependency check for libicu
  lgsm/functions/check_deps.sh
Labels: game: Barotrauma, type: bug
