Repository GameServerManagers/LinuxGSM, pull requests merged in 2020-05, with the labels that each got.

#2878 fix(update): Minecraft Bedrock issue causing update to not grab the version from logs
  lgsm/functions/update_minecraft_bedrock.sh
Labels: game: Minecraft Bedrock, type: bug

#2872 feat(install):Add config locations to install text
  lgsm/functions/install_config.sh
Labels: command: install, type: feature request

#2883 fix(mods): resolve oxide sdtd not functioning correctly
  lgsm/functions/mods_list.sh
Labels: game: 7 Days to Die, type: bug

#2880 feat(newserver): Chivalry: Medieval Warfare
  lgsm/config-default/config-lgsm/cmwserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/command_dev_query_raw.sh
  lgsm/functions/command_monitor.sh
  lgsm/functions/command_update_linuxgsm.sh
  lgsm/functions/core_functions.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_cmw.sh
  lgsm/functions/fix_hw.sh
  lgsm/functions/fix_steamcmd.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_stats.sh
  lgsm/functions/query_gamedig.sh
Labels: type: game server request

#2890 fix(update): ensure that tmpdir is cleared when update is found
  lgsm/functions/update_factorio.sh
  lgsm/functions/update_minecraft.sh
  lgsm/functions/update_minecraft_bedrock.sh
  lgsm/functions/update_mta.sh
  lgsm/functions/update_mumble.sh
  lgsm/functions/update_steamcmd.sh
  lgsm/functions/update_ts3.sh
Labels: command: update, type: bug

#2891 fix(details): correct if for bf1942
  lgsm/functions/info_messages.sh
Labels: command: details, game: Battlefield 1942, type: bug

#2899 fix(mods): resolve broken downloader for mods
  lgsm/functions/mods_core.sh
Labels: type: bug

#2901 fix(update): fix update on start not working
  lgsm/functions/command_start.sh
  lgsm/functions/info_distro.sh
  lgsm/functions/update_factorio.sh
  lgsm/functions/update_minecraft.sh
  lgsm/functions/update_minecraft_bedrock.sh
  lgsm/functions/update_mta.sh
  lgsm/functions/update_mumble.sh
  lgsm/functions/update_steamcmd.sh
  lgsm/functions/update_ts3.sh
Labels: type: bug

#2904 fix(fn_fetch_file): fix not updated function calls
  lgsm/functions/command_install_resources_mta.sh
  lgsm/functions/fix_mta.sh
  lgsm/functions/install_server_files.sh
  lgsm/functions/update_minecraft_bedrock.sh
Labels: command: install, type: bug
