Repository GameServerManagers/LinuxGSM, pull requests merged in 2020-09, with the labels that each got.

#3030 fix(csserver): fix missing steamclient.so
  lgsm/functions/core_functions.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_cs.sh
  lgsm/functions/fix_hw.sh
Labels: game: Counter-Strike 1.6, type: bug

#3031 fix(factorio): fix fetching info from config file
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
Labels: game: Factorio, type: bug

#3029 fix(pzserver): fix missing steamclient.so
  lgsm/functions/core_functions.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_cmw.sh
  lgsm/functions/fix_cs.sh
  lgsm/functions/fix_hw.sh
  lgsm/functions/fix_pz.sh
  lgsm/functions/fix_steamcmd.sh
  lgsm/functions/fix_tu.sh
  lgsm/functions/fix_wurm.sh
Labels: game: Project Zomboid, type: bug

#3017 feat(rustserver): add rust custom map support
  lgsm/functions/command_wipe.sh
Labels: game: Rust, type: feature request

#3033 fix(ark): add admin and connect password to details
  lgsm/functions/info_config.sh
Labels: game: Ark: Survival Evolved, type: bug

#3034 fix(eco): display correct values in display and fixup
  lgsm/functions/info_config.sh
Labels: game: Eco, type: bug

#3036 fix(squad): move systemdir to new location
  lgsm/config-default/config-lgsm/squadserver/_default.cfg
  lgsm/functions/core_functions.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_squad.sh
Labels: game: Squad, type: bug

#3037 fix(mods): change url to new domain for oxide + redo last version fetch
  lgsm/functions/mods_list.sh
Labels: command: mods

#3007 fix(sdtdserver): config parsing for the port
  lgsm/functions/info_config.sh
Labels: game: 7 Days to Die, type: bug

#3038 fix(untserver): fix steamclient.so issue
  lgsm/functions/fix_unt.sh
Labels: game: Unturned, type: bug

#3039 fix(untserver): remove mono-complete requirement and fix query port
  lgsm/functions/check_deps.sh
  lgsm/functions/info_parms.sh
Labels: game: Unturned, type: bug

#3044 feature(mods): add csgo pug to the modlist
  lgsm/functions/mods_list.sh
Labels: command: mods, game: Counter-Strike: Global Offensive

#3045 fix(fctr): add bind parameter for Factorio server
  lgsm/config-default/config-lgsm/fctrserver/_default.cfg
Labels: game: Factorio, type: bug

#3046 fix(wurm): fix server startup for wurm and dependency
  lgsm/functions/check_deps.sh
  lgsm/functions/fix_bo.sh
  lgsm/functions/fix_wurm.sh
Labels: game: Wurm Unlimited, type: bug

#3047 fix(mcb): update fails, as the site does a redirect and does not follow
  lgsm/functions/update_minecraft_bedrock.sh
Labels: game: Minecraft Bedrock, type: bug

#3049 feat(fix): move steamclient.so fix to a separate function
  lgsm/functions/core_functions.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_bo.sh
  lgsm/functions/fix_cmw.sh
  lgsm/functions/fix_cs.sh
  lgsm/functions/fix_pz.sh
  lgsm/functions/fix_ss3.sh
  lgsm/functions/fix_steamcmd.sh
  lgsm/functions/fix_tu.sh
  lgsm/functions/fix_unt.sh
  lgsm/functions/fix_wurm.sh
Labels: info: steamcmd, type: refactor

#3053 fix(mod): csgo pug fix var not set
  lgsm/functions/mods_list.sh
Labels: command: mods, game: Counter-Strike: Global Offensive, type: bug
