Repository GameServerManagers/LinuxGSM, pull requests merged in 2020-12, with the labels that each got.

#3142 fix(stop) stop will clear tmux text before entering stop command
  lgsm/functions/command_stop.sh
Labels: command: stop, type: bug

#3139 refactor(update): redo steamcmd update part for new behavoir
  lgsm/functions/update_steamcmd.sh
Labels: info: steamcmd

#3138 fix(bmdm): add missing dependency ncurses libs
  lgsm/functions/check_deps.sh
Labels: game: Black Mesa: Deathmatch, info: dependency

#3147 fix(minecraft): fix java ram assignment
  lgsm/config-default/config-lgsm/mcserver/_default.cfg
Labels: game: Minecraft, type: bug

#3080 feat(config): add secrets config to store sensitive settings
  lgsm/config-default/config-lgsm/secrets-common-template.cfg
  lgsm/config-default/config-lgsm/secrets-instance-template.cfg
  linuxgsm.sh
  tests/tests_fctrserver.sh
  tests/tests_jc2server.sh
  tests/tests_mcserver.sh
  tests/tests_ts3server.sh
Labels: hacktoberfest-accepted, type: feature request

#3075 feat(newserver): Colony Survival
  lgsm/config-default/config-lgsm/colserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/check_deps.sh
  lgsm/functions/fix_steamcmd.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/install_config.sh
Labels: hacktoberfest-accepted, type: game server request

#3146 feat(check-update): add new command check-update for steamcmd game servers
  lgsm/functions/alert.sh
  lgsm/functions/check_steamcmd.sh
  lgsm/functions/command_check_update.sh
  lgsm/functions/core_functions.sh
  lgsm/functions/core_getopt.sh
  lgsm/functions/core_steamcmd.sh
  lgsm/functions/update_steamcmd.sh
Labels: command: update, type: feature request, type: refactor
