Repository GameServerManagers/LinuxGSM, pull requests merged in 2020-04, with the labels that each got.

#2805 fix(alert): resolve bug with telegram curlcustomstring error
  lgsm/functions/alert_telegram.sh
Labels: info: alerts, type: bug

#2802 fix(validate): resolve validate not functioning for non branch
  lgsm/functions/command_validate.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/install_server_files.sh
  lgsm/functions/update_steamcmd.sh
Labels: command: validate, info: steamcmd, type: bug

#2820 fix(dependency): will not use apt package if Ubuntu 14.04
  lgsm/functions/check_deps.sh
Labels: distro: Ubuntu, info: dependency, info: steamcmd

#2822 feat(steamcmd): move steamcmd dir to standard location
  lgsm/functions/check_last_update.sh
  lgsm/functions/check_steamcmd.sh
  lgsm/functions/core_functions.sh
  lgsm/functions/core_legacy.sh
  lgsm/functions/fix.sh
  lgsm/functions/fix_arma3.sh
  lgsm/functions/fix_hw.sh
  lgsm/functions/fix_mcb.sh
  lgsm/functions/fix_mta.sh
  lgsm/functions/fix_nmrih.sh
  lgsm/functions/fix_onset.sh
  lgsm/functions/fix_rust.sh
  lgsm/functions/fix_rw.sh
  lgsm/functions/fix_sdtd.sh
  lgsm/functions/fix_sof2.sh
  lgsm/functions/fix_ss3.sh
  lgsm/functions/fix_steamcmd.sh
  lgsm/functions/fix_tu.sh
  lgsm/functions/fix_unt.sh
  lgsm/functions/fix_ut3.sh
  lgsm/functions/fix_wurm.sh
  lgsm/functions/info_distro.sh
  linuxgsm.sh
  tests/tests_fctrserver.sh
  tests/tests_jc2server.sh
  tests/tests_mcserver.sh
  tests/tests_ts3server.sh
Labels: info: steamcmd, type: feature request

#2823 fix(ss3server): resolve ss3 dependency issues
  lgsm/functions/check_deps.sh
Labels: game: Serious Sam 3, type: bug

#2829 feat(solserver): migrate to steamcmd and improve monitor
  lgsm/config-default/config-lgsm/solserver/_default.cfg
  lgsm/functions/command_dev_query_raw.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_server_files.sh
  lgsm/functions/query_gsquery.py
Labels: game: Soldat, type: refactor

#2843 fix(ts3server): improve ts3 ip parsing
  lgsm/functions/info_config.sh
Labels: game: Teamspeak 3, type: bug

#2851 feat(install): convert non-steamcmd game srvers to use tar.xz
  lgsm/functions/check_deps.sh
  lgsm/functions/command_backup.sh
  lgsm/functions/core_dl.sh
  lgsm/functions/install_server_files.sh
Labels: Atomic, type: feature request

#2853 feat(ut3server): add monitor query and add minor ut3 improvements
  lgsm/config-default/config-lgsm/ut3server/_default.cfg
  lgsm/functions/info_config.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/query_gsquery.py
Labels: game: Unreal Tournament 3, type: refactor
