Repository GameServerManagers/LinuxGSM, pull requests merged in 2021-01, with the labels that each got.

#3155 fix(steamcmd): retries are not honored if install succeeds
  lgsm/functions/core_dl.sh
Labels: info: steamcmd, type: bug

#3160 feat: refactor check_config removing some game specific code
  lgsm/functions/check_config.sh
Labels: type: refactor

#3165 fix(gmod): update link for wiki page
  lgsm/config-default/config-lgsm/gmodserver/_default.cfg
Labels: game: Gary's Mod

#3168 fix(steamcmd): fix branch switch
  lgsm/functions/core_dl.sh
Labels: command: update, info: steamcmd

#3163 feat(newserver): SCP: Secret Laboratory
  lgsm/config-default/config-lgsm/scpslserver/_default.cfg
  lgsm/config-default/config-lgsm/scpslsmserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/check_deps.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
  lgsm/functions/install_config.sh
Labels: type: game server request

#3175 fix(rust): server config text change for rcon
  lgsm/config-default/config-lgsm/rustserver/_default.cfg
Labels: game: Rust

#3170 fix(steamcmd): remove unused parameter
  lgsm/functions/core_steamcmd.sh
Labels: info: steamcmd

#3183 fix(rust): wipe command does not wipe all sav
  lgsm/functions/command_wipe.sh
Labels: command: wipe, game: Rust, type: bug

#3181 feat(dev): add libc++.so.1 for dependency detection
  lgsm/functions/command_dev_detect_deps.sh
Labels: info: dependency

#3180 fix(pvr): add new dependency
  lgsm/functions/check_deps.sh
Labels: game: Pavlov VR, info: dependency, type: bug

#3179 fix(inss): fix config to only use parameter
  lgsm/config-default/config-lgsm/inssserver/_default.cfg
  lgsm/functions/info_config.sh
Labels: game: Insurgency: Sandstorm, type: bug

#3169 fix(steamcmd): fix update on start not starting the server
  lgsm/functions/core_steamcmd.sh
Labels: command: start, command: update, info: steamcmd, type: bug

#3186 fix(steamcmd): add dependency SDL 32bit for debian and ubuntu
  lgsm/functions/check_deps.sh
Labels: info: dependency, info: steamcmd, type: bug

#3171 fix(stop): change csgoserver stop mode
  lgsm/config-default/config-lgsm/csgoserver/_default.cfg
Labels: command: stop, game: Counter-Strike: Global Offensive, type: refactor

#3173 fix(update): non-steam updates do not always require restarting on update
  lgsm/functions/update_factorio.sh
  lgsm/functions/update_jediknight2.sh
  lgsm/functions/update_minecraft.sh
  lgsm/functions/update_minecraft_bedrock.sh
  lgsm/functions/update_mta.sh
  lgsm/functions/update_mumble.sh
  lgsm/functions/update_ts3.sh
  lgsm/functions/update_vintagestory.sh
Labels: command: update, type: refactor

#3192 fix(ut2k4): better parsing of the serverconfig
  lgsm/functions/info_config.sh
Labels: command: details, game: Unreal Tournament 2004, type: bug

#3190 fix(wipe): resolve random seed not working
  lgsm/functions/command_wipe.sh
  lgsm/functions/info_parms.sh
Labels: game: Rust, type: bug

#3164 feat(core): add new functions for github releases
  lgsm/functions/core_dl.sh
  lgsm/functions/core_functions.sh
  lgsm/functions/core_github.sh
Labels: type: feature request

#3195 refactor(alert): cleanup and remove unused variables
  lgsm/config-default/config-lgsm/scpslserver/_default.cfg
  lgsm/config-default/config-lgsm/scpslsmserver/_default.cfg
  lgsm/functions/alert.sh
Labels: info: alerts

#3185 feat(arma3): change binary to 64bit
  lgsm/config-default/config-lgsm/arma3server/_default.cfg
Labels: game: Arma 3, type: feature request

#3205 fix(arma3): correct binary name
  lgsm/config-default/config-lgsm/arma3server/_default.cfg
Labels: game: Arma 3, type: bug

#3207 fix(vints): correct log dir
  lgsm/config-default/config-lgsm/vintsserver/_default.cfg
Labels: game: Vintage Story, type: bug
