Repository GameServerManagers/LinuxGSM, pull requests merged in 2021-02, with the labels that each got.

#3220 feat(vhserver): add server query to Valheim
  lgsm/config-default/config-lgsm/vhserver/_default.cfg
  lgsm/functions/info_messages.sh
  lgsm/functions/info_parms.sh
Labels: game: Valheim, type: bug, type: feature request

#3216 feat(vhserver): add hint to valheim password length
  lgsm/config-default/config-lgsm/vhserver/_default.cfg
Labels: game: Valheim, type: refactor

#3218 fix(core): allow the override of the executeable via common or instance config
  linuxgsm.sh
Labels: type: bug

#3227 fix:(mods): update Metamod:Source stable version
  lgsm/functions/mods_list.sh
Labels: command: mods, type: refactor

#3266 fix:(vhserver) Add support for changing savedir in valheim
  lgsm/config-default/config-lgsm/vhserver/_default.cfg
Labels: game: Valheim, type: feature request

#3274 Update check_deps.sh
  lgsm/functions/check_deps.sh
Labels: command: install, type: refactor

#3283 fix(ts3server): correct arch var in if statement
  lgsm/functions/update_ts3.sh
Labels: game: Teamspeak 3, type: bug

#3272 fix(vhserver): Add escaped quotes to Valheim startparams to account for spaces
  lgsm/config-default/config-lgsm/vhserver/_default.cfg
Labels: command: start, game: Valheim, type: bug

#2350 add send command to console
  lgsm/functions/command_send.sh
  lgsm/functions/core_functions.sh
  lgsm/functions/core_getopt.sh
  lgsm/functions/core_messages.sh
  linuxgsm.sh
Labels: command: console, type: feature request

#3288 feat(send): new command send
  lgsm/functions/check_system_requirements.sh
  lgsm/functions/command_send.sh
  lgsm/functions/core_functions.sh
  lgsm/functions/core_getopt.sh
  lgsm/functions/core_messages.sh
  linuxgsm.sh
Labels: command: console, command: update, type: feature request

#3289 fix(core): add execution of check_ip before the config init
  linuxgsm.sh
Labels: type: bug

#3292 feat(newserver): add PaperMC Server and Waterfall
  lgsm/config-default/config-lgsm/pmcserver/_default.cfg
  lgsm/config-default/config-lgsm/wmcserver/_default.cfg
  lgsm/data/serverlist.csv
  lgsm/functions/check_deps.sh
  lgsm/functions/check_system_requirements.sh
  lgsm/functions/command_update.sh
  lgsm/functions/core_functions.sh
  lgsm/functions/info_config.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/install_config.sh
  lgsm/functions/install_eula.sh
  lgsm/functions/install_server_files.sh
  lgsm/functions/update_papermc.sh
Labels: game: Minecraft, type: game server request

#3204 fix(ts3): add fix to detect accounting file and delete if possible
  lgsm/functions/fix_ts3.sh
Labels: game: Teamspeak 3, type: bug

#3309 fix(ut2k4): depricate dependencys for ut2k4 and ut99
  lgsm/functions/check_deps.sh
  lgsm/functions/command_start.sh
  lgsm/functions/info_distro.sh
  lgsm/functions/info_messages.sh
Labels: command: update, distro: CentOS, game: Unreal Tournament 2004, game: Unreal Tournament 99, type: bug
