Repository GameServerManagers/LinuxGSM, pull requests merged in 2021-03, with the labels that each got.

#3328 Force $lastbackup to use latest backup.
  lgsm/functions/command_start.sh
Labels: command: backup, type: bug

#3320 fix(config): resolves issue with settings not always picked up in start parameter
  lgsm/functions/command_start.sh
  lgsm/functions/core_functions.sh
  lgsm/functions/core_legacy.sh
  lgsm/functions/core_messages.sh
  lgsm/functions/fix.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/install_server_files.sh
  linuxgsm.sh
Labels: command: update

#3343 feature(rust): add option to set gamemode for server
  lgsm/config-default/config-lgsm/rustserver/_default.cfg
Labels: game: Rust

#3349 fix(fastdl): add missing file extention vmt and vtf
  lgsm/functions/command_fastdl.sh
Labels: command: fast-dl

#3348 fix(details): fix to show last backup
  lgsm/functions/info_distro.sh
Labels: command: details, type: bug

#3350 fix(deps): add detection for lxc container add hostname dependency
  lgsm/functions/check_deps.sh
Labels: info: dependency

#3363 feat(etl): update ET: Legacy to 2.76
  lgsm/functions/install_server_files.sh
Labels: command: update

#3364 feat(ut99): update to 469b
  lgsm/functions/install_server_files.sh
Labels: command: update

#3370 Revert "fix(vhserver): add escaped quotes to Valheim startparams to a…
  lgsm/config-default/config-lgsm/vhserver/_default.cfg
Labels: command: update

#3381 fix(config): parms setting will work again if present in configs
  linuxgsm.sh
Labels: command: update

#3380 fix(core): fix start paramerter reloading
  linuxgsm.sh
Labels: type: bug

#3408 fix(arma3): increase glibc requirement to 2.27
  lgsm/config-default/config-lgsm/arma3server/_default.cfg
Labels: command: update

#3410 fix(alert): correct discord avatar from png to jpg
  lgsm/functions/alert_discord.sh
Labels: command: update

#3412 fix(rust): increase rust query delay
  lgsm/config-default/config-lgsm/rustserver/_default.cfg
  lgsm/functions/check_deps.sh
Labels: command: update

#3389 feat(mcbserver): gamedig is now supported
  lgsm/config-default/config-lgsm/mcbserver/_default.cfg
Labels: command: update
