Repository GameServerManagers/LinuxGSM, pull requests merged in 2021-12, with the labels that each got.

#3693 fix(core_dl): fix position of force_install_dir
  lgsm/functions/core_dl.sh
Labels: info: steamcmd, type: refactor

#3682 fix(ts3): fix missing details
  lgsm/functions/info_game.sh
Labels: game: Teamspeak 3

#3684 feat(etl): update Enemy Territory: Legacy to 2.78.1
  lgsm/functions/install_server_files.sh
Labels: game: ET: Legacy

#3667 fix(sf): add multihome parameter
  lgsm/config-default/config-lgsm/sfserver/_default.cfg
Labels: type: bug

#3719 fix(details): check as well queryport via steam
  lgsm/config-default/config-lgsm/colserver/_default.cfg
  lgsm/config-default/config-lgsm/dodrserver/_default.cfg
  lgsm/config-default/config-lgsm/stnserver/_default.cfg
  lgsm/config-default/config-lgsm/vhserver/_default.cfg
  lgsm/functions/info_distro.sh
Labels: command: details

#3721 fix(squad): enable steammaster
  lgsm/config-default/config-lgsm/squadserver/_default.cfg
Labels: game: Squad

#3720 feat(newserver): The Isle
  lgsm/config-default/config-lgsm/tiserver/_default.cfg
  lgsm/data/almalinux-8.csv
  lgsm/data/centos-7.csv
  lgsm/data/centos-8.csv
  lgsm/data/debian-10.csv
  lgsm/data/debian-11.csv
  lgsm/data/debian-9.csv
  lgsm/data/rhel-7.csv
  lgsm/data/rhel-8.csv
  lgsm/data/rocky-8.csv
  lgsm/data/serverlist.csv
  lgsm/data/ubuntu-16.04.csv
  lgsm/data/ubuntu-18.04.csv
  lgsm/data/ubuntu-20.04.csv
  lgsm/data/ubuntu-21.04.csv
  lgsm/data/ubuntu-21.10.csv
  lgsm/data/ubuntu-22.04.csv
  lgsm/functions/info_game.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/install_config.sh
Labels: type: game server request

#3722 fix(pstbs): enable steammaster
  lgsm/config-default/config-lgsm/pstbsserver/_default.cfg
Labels: game: Post Scriptum

#3717 fix: #1868 mods lowercase conversion
  lgsm/functions/mods_core.sh
Labels: command: mods

#3726 fix(cd): add config install
  lgsm/functions/install_config.sh
Labels: game: Crafing Dead
