Repository GameServerManagers/LinuxGSM, pull requests merged in 2021-09, with the labels that each got.

#3550 feat(stats): allow stats on which alerts are being used
  lgsm/functions/core_functions.sh
  lgsm/functions/info_game.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/info_stats.sh
Labels: type: bug, type: feature request, type: refactor, command: update, info: alerts

#3531 fix(perms): corrects tab
  lgsm/functions/check_permissions.sh
Labels: type: bug

#3421 fix(mordhau): add config to startparameters
  lgsm/config-default/config-lgsm/mhserver/_default.cfg
Labels: game: Mordhau

#3401 feat: More Gmod addons utilising the installer
  lgsm/functions/mods_list.sh
Labels: game: Garry's Mod, command: mods

#3564 fix(cod4): Improve servername and rcon password parsing
  lgsm/config-default/config-lgsm/pstbsserver/_default.cfg
  lgsm/functions/info_game.sh
  lgsm/functions/info_messages.sh
Labels: type: bug, game: Call of Duty 4

#3409 fix(arma3): resolve arma3 debug not working
  lgsm/functions/command_debug.sh
Labels: type: bug, type: feature request, game: Arma 3, type: refactor, command: update

#3570 fix(ip): improvements to ip command usage
  lgsm/functions/check_ip.sh
  lgsm/functions/info_distro.sh
  tests/tests_jc2server.sh
  tests/tests_mcserver.sh
Labels: type: bug, type: feature request, type: refactor, command: update

#3346 feature(valheim): add support for Valheim Plus mod
  lgsm/functions/check_deps.sh
  lgsm/functions/core_getopt.sh
  lgsm/functions/fix_vh.sh
  lgsm/functions/mods_list.sh
Labels: command: mods, game: Valheim

#3568 feat(install): dependency refactor
  lgsm/data/almalinux-8.csv
  lgsm/data/centos-7.csv
  lgsm/data/centos-8.csv
  lgsm/data/debian-10.csv
  lgsm/data/debian-11.csv
  lgsm/data/debian-9.csv
  lgsm/data/rhel-7.csv
  lgsm/data/rhel-8.csv
  lgsm/data/rocky-8.csv
  lgsm/data/ubuntu-16.04.csv
  lgsm/data/ubuntu-18.04.csv
  lgsm/data/ubuntu-20.04.csv
  lgsm/data/ubuntu-21.04.csv
  lgsm/functions/check.sh
  lgsm/functions/check_deps.sh
  lgsm/functions/core_dl.sh
  lgsm/functions/info_distro.sh
  lgsm/functions/info_game.sh
  lgsm/functions/install_config.sh
  lgsm/functions/install_server_dir.sh
  lgsm/functions/install_server_files.sh
Labels: type: bug, type: feature request, type: refactor, command: update, info: dependency

#3578 fix(stn): add case if the password was not set in the config
  lgsm/functions/info_game.sh
Labels: type: bug
