Repository GameServerManagers/LinuxGSM, pull requests merged in 2022-08, with the labels that each got.

#3962 fix(bd): install loop due old condition and config
  lgsm/functions/install_config.sh
  lgsm/functions/install_server_files.sh
Labels: type: bug, command: install

#3959 fix(csgo): move away old libgcc_s.so.1 to fix sourcemod
  lgsm/functions/fix_csgo.sh
Labels: game: Counter-Strike: Global Offensive

#3957 fix(deps): remove duplicate dependencys what was added with 490cd3fa5aeadd63180fab5379f49d78748ec8ef
  lgsm/data/almalinux-8.csv
  lgsm/data/centos-7.csv
  lgsm/data/centos-8.csv
  lgsm/data/rhel-7.csv
  lgsm/data/rhel-8.csv
  lgsm/data/rocky-8.csv
Labels: type: bug, info: dependency

#3956 feat(fctr): add function to get the server version via the details command
  lgsm/functions/info_game.sh
Labels: game: Factorio, feature

#3955 fix(vints): refactor to fix it when there is no config for the server
  lgsm/functions/info_game.sh
Labels: type: bug, game: Vintage Story

#3954 fix(squad): fix to use the proper default config
  lgsm/config-default/config-lgsm/squadserver/_default.cfg
Labels: type: bug, game: Squad

#3919 feat(mods): update sourcemod to 1.11
  lgsm/functions/mods_list.sh
Labels: command: mods

#3963 feat(cod4): update server download to v21.2
  lgsm/functions/check_steamcmd.sh
  lgsm/functions/install_server_files.sh
Labels: game: Call of Duty 4
