Repository GameServerManagers/LinuxGSM, pull requests merged in 2023-02, with the labels that each got.

#4048 fix(rust) Support Rust query port needed after Feb 2nd!
  lgsm/config-default/config-lgsm/rustserver/_default.cfg
  lgsm/functions/info_game.sh
Labels: game: Rust, type: refactor

#4115 fix: selecting branch instead of version when getting modules
  linuxgsm.sh
  package-lock.json
  tests/tests_kcov.sh
  tests/tests_shellcheck.sh
Labels: type: bug

#4105 feat(newserver): American Truck Simulator
  lgsm/config-default/config-lgsm/atsserver/_default.cfg
  lgsm/config-default/config-lgsm/ets2server/_default.cfg
  lgsm/data/almalinux-8.csv
  lgsm/data/almalinux-9.csv
  lgsm/data/centos-7.csv
  lgsm/data/centos-8.csv
  lgsm/data/centos-9.csv
  lgsm/data/debian-10.csv
  lgsm/data/debian-11.csv
  lgsm/data/debian-9.csv
  lgsm/data/rhel-7.csv
  lgsm/data/rhel-8.csv
  lgsm/data/rhel-9.csv
  lgsm/data/rocky-8.csv
  lgsm/data/rocky-9.csv
  lgsm/data/serverlist.csv
  lgsm/data/ubuntu-16.04.csv
  lgsm/data/ubuntu-18.04.csv
  lgsm/data/ubuntu-20.04.csv
  lgsm/data/ubuntu-21.04.csv
  lgsm/data/ubuntu-21.10.csv
  lgsm/data/ubuntu-22.04.csv
  lgsm/functions/info_game.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/install_config.sh
Labels: type: game server request

#3884 feat(newserver): Core Keeper
  lgsm/config-default/config-lgsm/ckserver/_default.cfg
  lgsm/data/almalinux-8.csv
  lgsm/data/almalinux-9.csv
  lgsm/data/centos-7.csv
  lgsm/data/centos-8.csv
  lgsm/data/centos-9.csv
  lgsm/data/debian-10.csv
  lgsm/data/debian-11.csv
  lgsm/data/debian-9.csv
  lgsm/data/rhel-7.csv
  lgsm/data/rhel-8.csv
  lgsm/data/rhel-9.csv
  lgsm/data/rocky-8.csv
  lgsm/data/rocky-9.csv
  lgsm/data/serverlist.csv
  lgsm/data/ubuntu-16.04.csv
  lgsm/data/ubuntu-18.04.csv
  lgsm/data/ubuntu-20.04.csv
  lgsm/data/ubuntu-21.04.csv
  lgsm/data/ubuntu-21.10.csv
  lgsm/data/ubuntu-22.04.csv
  lgsm/functions/info_game.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/install_config.sh
Labels: type: game server request

#4118 fix(mc): dependencies bump java version to 17 for rhel 8+
  lgsm/data/almalinux-8.csv
  lgsm/data/almalinux-9.csv
  lgsm/data/centos-8.csv
  lgsm/data/centos-9.csv
  lgsm/data/rhel-8.csv
  lgsm/data/rhel-9.csv
  lgsm/data/rocky-8.csv
  lgsm/data/rocky-9.csv
Labels: game: Minecraft

#4124 feat(btl): rename bt1944 to btl
  .github/labeler.yml
  lgsm/config-default/config-lgsm/btlserver/_default.cfg
  lgsm/data/almalinux-8.csv
  lgsm/data/almalinux-9.csv
  lgsm/data/centos-7.csv
  lgsm/data/centos-8.csv
  lgsm/data/centos-9.csv
  lgsm/data/debian-10.csv
  lgsm/data/debian-11.csv
  lgsm/data/debian-9.csv
  lgsm/data/rhel-7.csv
  lgsm/data/rhel-8.csv
  lgsm/data/rhel-9.csv
  lgsm/data/rocky-8.csv
  lgsm/data/rocky-9.csv
  lgsm/data/serverlist.csv
  lgsm/data/ubuntu-16.04.csv
  lgsm/data/ubuntu-18.04.csv
  lgsm/data/ubuntu-20.04.csv
  lgsm/data/ubuntu-21.04.csv
  lgsm/data/ubuntu-21.10.csv
  lgsm/data/ubuntu-22.04.csv
  lgsm/functions/info_game.sh
  lgsm/functions/info_messages.sh
  lgsm/functions/install_config.sh
Labels: game: Battalion 1944
